body{
    margin: 0;
    background-color: #fef6f4;
}
.baner{
    background-color: #ec451d;
    text-align: center;
    font-size: 25px;
    font-style: initial;
    color: aliceblue;
    width: 100%;
}
.baner h1{
    margin: 0;
}
table, tr, td, th{
    border: 1px solid darkred;
    border-collapse: collapse;
    font-size: 18px;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
}
table img{
    width: 200px;
    height: 200px;
}
a:link {
    color: green;
}
a:visited {
    color: pink;
}
.middle{
    color: #180702;
}
.middle .poland{
    padding-left:100px;
    background-color: #ec451d;
    margin-left: 100px;
    margin-right: 100px;
}
.middle .ukraine{
    padding-left:100px;
    background-color: #ec451d;
    margin-left: 100px;
    margin-right: 100px;
}
.middle .america{
    padding-left:100px;
    background-color: #ec451d;
    margin-left: 100px;
    margin-right: 100px;
}
.footer{
    background-color:#ec451d ;
    width: 100%;
    position: absolute;
}
.footer h3{
    margin-left:20px ;
}
.footer a{
    color: #0c0f10;
}
.txt p{
    background-color: #ec451d;
    border-radius: 10px;

}
